@import "tailwindcss";
/* Custom animated dotted overlay */
@layer utilities {
  .bg-dots {
    background-image:
      radial-gradient(circle at 1px 1px, rgb(0 0 0 / 6%) 1px, transparent 0);
    background-size: 24px 24px;
    animation: dotsMove 24s linear infinite;
  }
  @keyframes dotsMove {
    from { background-position: 0 0; }
    to   { background-position: 480px 480px; }
  }
}
